doctype html
html(lang='en')
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width')
    meta(name='format-detection' content='email=no,telephone=no')
    title= meta.title
    meta(name='description' content=meta.description)
    meta(name='theme-color' content='#b8d1ea')
    link(rel='stylesheet' href=`${meta.publicUrl}index.css`)
    link(rel='apple-touch-icon' sizes='192x192' href=`${meta.publicUrl}media/favicon.png`)
    link(rel='icon' type='image/png' sizes='192x192' href=`${meta.publicUrl}media/favicon.png`)
    
  body(class=`
    bg-darker-blue-purple
    text-lighter
    font-barlow
    font-regular
    text-sm
    leading-sm
  `)
    nav#pageNav(class=`
      absolute
      z-10
      top-0
      left-0
      w-screen
    `)
      .container
        ul(class=`
          flex
          items-center
          h-4b c11_h-6b c17_h-8b
          px-1b
          font-bold
          text-base c11_text-lg
          leading-base c11_leading-lg
          tracking-wide
        `)
          li: a(href='#contact')
            span: img(src='media/mail.svg' alt='Mail icon')
            | 
            span= 'Contact'
    
    figure(class=`
      absolute
      top-0
      right-0
      max-w-10c
    `)
      img(
        src='media/pattern-upper-right.svg'
        alt='A decorative pattern'
      )
  
    main#pageMain(class=`
      w-screen
      pt-3c c11_pt-5c c17_pt-4c
      pb-3c
    `)
      include /main.pug
      
    figure(class=`
      max-w-11c
    `)
      img(
        src='media/pattern-lower-left.svg'
        alt='A decorative pattern'
      )
      
    script(src=`${meta.publicUrl}index.js`)
