mixin box(classes='')
  div(class=`
    max-w-10c
    pb-2b
    typeset
    ${classes}
  `)
    block


mixin graphic(src)
  figure(class=`
    max-w-6c
    pb-2b
  `)
    img(
      src=src
      alt='Decorative illustration'
    )


.container
  div(class=`
    w-full
    flex
    flex-col
    items-center
    px-1b
  `)
    figure(class=`
      max-w-10c
      pb-6b
    `)
      img(
        src='media/metamodern-logo.svg'
        alt='Metamodern Design Limited'
      )

    +box(`
      text-lg c11_text-xl
      leading-lg-narrow c11_leading-xl-narrow
    `)
      != content.about1
      
    +graphic('media/undraw-product-tour.svg')
      
    +box(`
      text-base c11_text-lg
      leading-base-narrow c11_leading-lg-narrow
    `)
      != content.about2
    
    +graphic('media/undraw-social-thinking.svg')
      
    +box(`
      text-sm c11_text-base
      leading-sm-narrow c11_leading-base-narrow
    `)
      != content.about3
