mixin stack(classes='')
  div(class=`
    w-full
    flex
    flex-col
    items-center
    ${classes}
  `)
    block


mixin text(classes='')
  div(class=`
    max-w-10c
    pb-3b
    typeset
    ${classes}
  `)
    block


mixin textSm(classes='')
  +text(`
    text-sm c11_text-base
    leading-sm-narrow c11_leading-base-narrow
    ${classes}
  `)
    block


mixin textBase(classes='')
  +text(`
    text-base c11_text-lg
    leading-base-narrow c11_leading-lg-narrow
    ${classes}
  `)
    block


mixin textLg(classes='')
  +text(`
    text-lg c11_text-xl
    leading-lg-narrow c11_leading-xl-narrow
    ${classes}
  `)
    block


mixin graphic({ src, alt='Decorative Illustration', rounded=false }, classes='')
  figure(class=classes)
    img(
      src=src
      alt=alt
      class=(rounded ? 'rounded' : '') 
    )


mixin graphicSm(args, classes='')
  +graphic(args, `
    max-w-3c
    pb-2b
    ${classes}
  `)


mixin graphicMd(args, classes='')
  +graphic(args, `
    max-w-5c
    pb-3b
    ${classes}
  `)


mixin graphicLg(args, classes='')
  +graphic(args, `
    max-w-10c
    pb-6b
    ${classes}
  `)


#pageContent.container
  +stack('px-1b')
    +graphicLg({ 
      src: 'media/metamodern-logo.svg',
      alt: 'Metamodern Design Limited'
    })

    +textLg()
      != content.about1
      
    +textBase()
      != content.about2
    
    +graphicMd({ src: 'media/undraw-product-tour.svg' }, `
      pt-one-and-half-b
    `)
      
    +textSm()
      != content.about3
    
    +graphicMd({ src: 'media/undraw-social-thinking.svg' })
      
    +textSm()
      != content.about4
    
    +graphicMd({ src: 'media/undraw-usability-testing.svg' })
    
    +textSm()
      != content.about5
    
    #contact(class=`
      flex
      max-w-10c
      pt-2b
      border-t-1
      border-light-blue-purple
    `)
      +graphicSm({
        src: 'media/portrait.png',
        alt: 'Cartoon drawing of Daniel',
        rounded: true
      }, 'min-w-1c')
    
      +textSm(`
        max-w-4c c11_max-w-7c
        pl-1b
      `)
        p.font-barlow-semi
          span(class=`
            font-medium
            italic
          `)= content.contact
          | 
          span(class=`
            email
            font-semibold
            text-bright-green
          `)= 'ngised.nredomatem@leinad'
          | 
          span.font-medium= '(click to copy).'
      
    +textSm(`
      text-medium-light-red-purple
      font-bold
      text-base
      text-center
    `)
      p: a(href='#')= '▲ Top' 
