mixin stack(classes='')
  div(class=`
    w-full
    flex
    flex-col
    items-center
    ${classes}
  `)
    block


mixin text(classes='')
  div(class=`
    max-w-10c
    pb-3b
    typeset
    ${classes}
  `)
    block


mixin textSm(classes='')
  +text(`
    text-sm c11_text-base
    leading-sm-narrow c11_leading-base-narrow
    ${classes}
  `)
    block


mixin textBase(classes='')
  +text(`
    text-base c11_text-lg
    leading-base-narrow c11_leading-lg-narrow
    ${classes}
  `)
    block


mixin textLg(classes='')
  +text(`
    text-lg c11_text-xl
    leading-lg-narrow c11_leading-xl-narrow
    ${classes}
  `)
    block


mixin graphic(src, alt='Decorative Illustration', classes='')
  figure(class=classes)
    img(
      src=src
      alt=alt
    )


mixin graphicSm(src, alt, classes='')
  +graphic(src, alt, `
    max-w-3c
    pb-2b
    ${classes}
  `)


mixin graphicMd(src, alt, classes='')
  +graphic(src, alt, `
    max-w-5c
    pb-3b
    ${classes}
  `)


mixin graphicLg(src, alt, classes='')
  +graphic(src, alt, `
    max-w-10c
    pb-6b
    ${classes}
  `)


#pageContent.container
  +stack('px-1b')
    +graphicLg('media/metamodern-logo.svg', 'Metamodern Design Limited')

    +textLg()
      != content.about1
      
    +textBase()
      != content.about2
    
    +graphicMd('media/undraw-product-tour.svg')
      
    +textSm()
      != content.about3
    
    +graphicMd('media/undraw-social-thinking.svg')
      
    +textSm()
      != content.about4
    
    +graphicMd('media/undraw-usability-testing.svg')
    
    +textSm()
      != content.about5
    
    #contact(class=`
      flex
      max-w-10c
      pt-2b
      border-t-1
      border-light-blue-purple
    `)
      +graphicSm('media/portrait.png', 'Cartoon drawing of Daniel', `
        rounded
      `)
    
      +textSm('pl-1b')
        p
          span(class=`
            font-medium
            italic
          `)= content.contact
    
          span(class=`
            email
            font-bold
            text-medium-blue-green
          `)= 'ngised.nredomatem@leinad'

          span(class=`
            font-medium
            italic
          `)= '(click to copy).'
